table {
	border-collapse: collapse;
}

tr:nth-child(n + 6) {
	display: none;
}

.status {
	padding: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	align-items: center;
	justify-content: center;

	&.Approved {
		color: green;
		background-color: rgba(0, 128, 0, 0.151);
	}
	&.Pending {
		color: goldenrod;
		background-color: rgba(189, 189, 3, 0.103);
	}
}
