// .gridContainer {
// 	display: flex;
// 	// display: grid;

// 	// grid-template-columns: 240px 1fr;
// 	// grid-template-rows: 55px 1fr 0px;
// 	// grid-template-areas:
// 	// 	"aside header"
// 	// 	"aside main";

// 	// height: 100vh;

// 	.header,
// 	.mainContainer {
// 		flex: 6;
// 	}

// 	.widgets,
// 	.charts {
// 		display: flex;
// 		padding: 20px;
// 		gap: 20px;

// 		.card {
// 			display: flex;
// 			align-items: center;
// 			justify-content: space-between;
// 			padding: 12px;
// 		}
// 	}

// 	// .widgets {
// 	// 	display: grid;
// 	// 	grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
// 	// 	grid-auto-rows: 94px;
// 	// 	grid-gap: 30px;
// 	// 	margin: 20px;
// 	// }

.widgets,
.charts {
	display: flex;
	padding: 10px;
	gap: 20px;
}
.listProducts {
	height: 100vh;
}

// 	.charts {
// 		padding: 5px 20px;
// 	}

// 	.aside {
// 		flex: 1;
// 	}
// }
