

.avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.counter {
	width: 15px;
	height: 15px;
	background-color: red;
	border-radius: 50%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	top: -4px;
	right: -2px;
}
